
module mypol 1.0;

require {
	type efivarfs_t;
	type systemd_logind_t;
	class file read;
}

#============= systemd_logind_t ==============
allow systemd_logind_t efivarfs_t:file read;
